.first {
    background-color: red;
    width: 200px;
    height: 100px;
    position: absolute
}
.second {
    background-color: yellow;
    width: 200px;
    height: 100px;
    left: 250px;
    position: absolute
}
.third {
    background-color: green;
    width: 200px;
    height: 100px;
    left: 500px;
    position: absolute
}